<h1>Here is a list of posts for a given user</h1>
<div>
  <img class='profile-img' alt='Profile'/>
  <div>
    <h1 class='username'><%= @user.name%> </h1>
    <p>Number of posts: <%= @user.post_counter%></p>
  </div>
</div>
<% @user_posts.each do |post| %>
  <div class='post-info'>
    <h2><%= post.title%> </h2>
    <h3><%= post.text%></h3>
    <p>Comments: <%= post.comments_counter%>, Likes: <%= post.likes_counter%></p>
    <div>
      <% post.last_five_comments.each do |comment| %>
        <h3><%= @users.find(comment.user_id).name%>: <%= comment.text%> </h3>
      <% end%>
    </div>
  <div>
<%end %>  
<button type='button'>Pagination</button>