<h1>Here are the details of a given user's post</h1>
<div>
  <div>
    <h1><%= @user_post.title%> by <%= @user.name%> </h1>
    <p>Comments: <%= @user_post.comments_counter%>, Likes: <%= @user_post.likes_counter%></p>
    <h3><%= @user_post.text%></h3>
  </div>
  <div>
    <% @user_post.comments.each do |comment| %>
      <h3><%= @users.find(comment.user_id).name%>: <%= comment.text%> </h3>
    <% end%>
  </div>
</div>